[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
icalendar = "*"

[requires]

python_version = "3"
